<div class="miniquiz">
    <div>
        <p style="font-size: 12px">Test your understanding</p>
        <p> {{ include.question }} </p>
    </div>
    <div id="answer-buttons">
        <table class="quiz-table">
            <tr>
    <td>
    <div>
        <button class="quiz-buttons" id="miniquiz_button_0_{{ include.id | jsonify }}" onclick="setSelected_{{ include.id | jsonify }}(0)"> {{ include.opt0 }} </button>
    </div>
    </td>
    <td>
    <div>
        <button class="quiz-buttons" id="miniquiz_button_1_{{ include.id | jsonify }}" onclick="setSelected_{{ include.id | jsonify }}(1)"> {{ include.opt1 }} </button>
    </div>
    </td>
    </tr>
    <tr>
    <td>
    <div>
        <button class="quiz-buttons" id="miniquiz_button_2_{{ include.id | jsonify }}" onclick="setSelected_{{ include.id | jsonify }}(2)"> {{ include.opt2 }} </button>
    </div>
    </td>
    <td>
    <div>
        <button class="quiz-buttons"    id="miniquiz_button_3_{{ include.id | jsonify }}" onclick="setSelected_{{ include.id | jsonify }}(3)"> {{ include.opt3 }} </button>
    </div>
    </td>
    </tr>
    </table>
    </div>
    <p id="response_{{ include.id }}"></p>


    <script>
        const correct_index_{{ include.id | jsonify }} = {{ include.correctIndex | jsonify }};
        const options_{{ include.id | jsonify }} = [
            {{ include.opt0 | jsonify }},
            {{ include.opt1 | jsonify }},
            {{ include.opt2 | jsonify }},
            {{ include.opt3 | jsonify }}
        ];
        const responses_{{ include.id | jsonify }} = [
            {{ include.response0 | jsonify }},
            {{ include.response1 | jsonify }},
            {{ include.response2 | jsonify }},
            {{ include.response3 | jsonify }}
        ];

        const buttons_{{ include.id | jsonify }} = [            document.getElementById("miniquiz_button_0_{{ include.id | jsonify }}"),
            document.getElementById("miniquiz_button_1_{{ include.id | jsonify }}"),
            document.getElementById("miniquiz_button_2_{{ include.id | jsonify }}"),
            document.getElementById("miniquiz_button_3_{{ include.id | jsonify }}")
        ];
        for (const button of buttons_{{ include.id | jsonify }}) {
            button.style.borderStyle = "solid";
            button.style.borderColor = button.style.backgroundColor;
            button.style.borderWidth = "3px";
        }
        function setSelected_{{ include.id | jsonify }}(num) {
            for (const button of buttons_{{ include.id | jsonify }}) {
                button.style.borderColor = button.style.backgroundColor;
            }
            buttons_{{ include.id | jsonify }}[num].style.borderColor = "black";
            if (num == correct_index_{{ include.id | jsonify }}) {
                buttons_{{ include.id | jsonify }}[num].style.backgroundColor = "green";
            } else {
                buttons_{{ include.id | jsonify }}[num].style.backgroundColor = "red";
            }
            document.getElementById("response_" + {{ include.id | jsonify }}).innerHTML = responses_{{ include.id | jsonify }}[num];
        }
    </script>
</div>
