<div class="workspace">
    <textarea id="codespace" class="code" oninput="reload()">
    <!-- Type HTML and CSS here to run it! -->

    <!-- The window to the left will update in real time. -->
    </textarea>
    <iframe id="resultframe"></iframe>

    <button onclick="save()">Save code</button>
    <button onclick="load()">Load saved code</button>
    <script>
        frame = document.getElementById("resultframe");
        text = document.getElementById("codespace");
        reload();
        function reload() {
            var doc = frame.contentWindow.document;
            doc.open();
            doc.write(text.value);
            doc.close();
        }
        function save() {
            localStorage.setItem("code", text.value);
        }
        function load() {
            text.value = localStorage.getItem("code");
            reload();
        }
    </script>

</div>
