@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html body {
    background: radial-gradient(circle, rgba(30,156,34,1) 0%, rgba(97,182,56,1) 35%, rgba(29,129,81,1) 100%);
    background-attachment: fixed;
}

pre {
    display: block;
}

.container {
    margin: auto;
    padding: 15px;
    background-color: #b0ffbd;
    border-radius: 15px;
    max-width: 600px;
    overscroll-behavior-y: auto;
    max-width: 800px;
}

.header h1, h2 {
    margin: 0px;
    padding: 5px;
}

.header h2 {
    font-size: 16px;
}

.header .title {
    color: green;
}

.footer p {
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6, p, button, a, pre {
    font-family: 'Ubuntu', sans-serif;
}

.header .logo, .header .title-subtitle {
    float: left;
}

.math-notice {
    font-size: 10px;
    color: #828282;
}

.miniquiz {
    background-color: #CCCCCC;
    padding: 15px;
}

.miniquiz button p {
    margin: 5px;
}

.definition {
    background-color: #CCCCCC;
    padding: 15px;
}

.definition p {
    margin: 5px;
}

.grade {
    padding: 0px;
    line-height: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.code {
    font-family: monospace;
    font-size: 14px;
    padding: 5px;
    border-radius: 0px;
    width: 48%;
    height: 500px;
    resize:none;
}

iframe {
    border-radius: 0px;
    padding: 5px;
    width: 48%;
    height: 500px;
    background-color: white;
}
