.container {
    max-width: 800px;
    margin: auto;
    padding: 15px;
    background-color: #DDDDDD;
    border-radius: 15px;
}

.header h1, h2 {
    margin: 0px;
    padding: 5px;
}

.header h2 {
    font-size: 16px;
}

.header .title {
    color: green;
}

.footer p {
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Ubuntu', Arial, sans-serif;
}

.math-notice {
    font-size: 10px;
    color: #828282;
}

.miniquiz {
    border-radius: 15px;
    background-color: #CCCCCC;
    padding: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');